* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.sign-up {
  height: 33px;
  padding: 0 23px;
  border-radius: 22px;
  background-color: #1a202c;
  border: 1px solid white;
}

.sign-up {
  color: white;
}

.log-in {
  height: 33px;
  padding: 0 23px;
  border-radius: 22px;
  background-color: #caab72;
}

.sign-up:hover {
  background-color: #383e4d;
  cursor: pointer;
}

.log-in:hover {
  background-color: #d7c095;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}

.to-left,
.to-right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4e5461;
  border: none;
  margin: 0 7px;
  font-size: 16px;
}

.to-left i,
.to-right i {
  color: white;
}

.button-bet {
  height: 40px;
  width: 130px;
  border-radius: 22px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 700;
  margin-top: 175px;
  margin-left: 30px;
}

.button-bet:hover {
  cursor: pointer;
  background-color: #383e4d;
}

#header {
  width: 100%;
  height: 160px;
  padding: 0 100px;
  background-color: #1a202c;
  position: fixed;
  z-index: 1;
}

#header .heading {
  width: 1400px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

#header .mid {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 56px;
}

#header .header-footer {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-size: 14px;
}

#header .mid ul {
  display: flex;
}

#header .mid ul li {
  margin: 0 9px;
  line-height: 56px;
}

a:hover {
  color: #caab72;
  cursor: pointer;
}

.mid-hover {
  color: #caab72;
}

.button-new {
  color: white;
  background-color: #c9334e;
  padding: 2px;
  border-radius: 7px;
}

.footer-right ul {
  display: flex;
}

.header-footer .footer-right a {
  font-size: 12px;
  padding: 0 12px;
}
.header-footer .footer-right a i {
  margin-right: 5px;
}

.header-footer .footer-right img {
  line-height: 30px;
  width: 16px;
}

.language {
  position: relative;
}

.list-languege {
  position: absolute;
  width: 180px;
  height: 190px;
  background-color: #383e4d;
  top: 100%;
  right: 0;
  z-index: 2;
  display: none;
  border-radius: 12px;
}

.language:hover .list-languege {
  display: block;
}

.list-languege li:hover {
  background-color: #4e5461;
  cursor: pointer;
}

.list-languege ul {
  display: inline;
}

.list-languege li {
  height: 30px;
  width: 160px;
  margin: 7px auto;
  padding: 0 7px;
  border-radius: 12px;
  line-height: 30px;
  color: white;
}

.language:hover i {
  animation: down-to-up linear 1s;
}

@keyframes down-to-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#background1 {
  width: 100%;
  background-color: #222939;
  padding-top: 160px;
}

.backgorund1-image {
  width: 1400px;
  margin: 0 auto;
  padding-top: 460px;
  background: url("https://www.ms8opb.com/~/static/images/sportsbook/banners/turbo-welcome-bonus_VN.jpg")
    top center / cover no-repeat;
  position: relative;
}

.background-content {
  top: 100px;
  right: 240px;
  position: absolute;
  width: 360px;
}

.navigation {
  position: absolute;
  bottom: 40px;
  right: 60px;
  display: none;
}

#background1:hover .navigation {
  display: inline;
}

.to-right:hover,
.to-left:hover {
  cursor: pointer;
  background-color: gray;
}

#background2 {
  width: 100%;
  height: 130px;
  background-color: #1a202c;
}

@media only screen and (max-width: 700px) {
  .background2-content,
  .background3-content,
  .background4-content,
  .background5-content {
    width: 100%;
    color: red;
  }
}

.background2-content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.background2-content ul {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.background2-content ul li {
  display: flex;
  color: #a7a9b0;
}

.background2-content ul li:hover {
  cursor: pointer;
}

.background2-content ul li i {
  font-size: 54px;
  margin-right: 20px;
  color: #caab72;
}

.background2-content div h2 {
  color: #caab72;
  margin-bottom: 7px;
}

#background3 {
  width: 100%;
  height: 380px;
  background-color: gray;
}

.background3-content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  /* background-color: white; */
}

.background3-content-event h2 {
  font-weight: 900;
  font-size: 26px;
  padding: 40px;
  color: #222939;
}

.content-event-sport {
  display: flex;
  justify-content: space-between;
}

.content-event-card {
  width: 340px;
  height: 180px;
  background-color: rgb(199, 193, 193);
  border-radius: 16px;
  position: relative;
}

.content-event-card:hover {
  cursor: pointer;
  animation: up linear 0.3s;
}

@keyframes up {
  from {
    transform: scale(0.96);
  }
  to {
    transform: scale(1);
  }
}

.content-event-card p:nth-child(1) {
  padding-left: 12px;
  padding-top: 12px;
}

.content-event-card p:nth-child(2) {
  padding-left: 34px;
  font-size: 12px;
}

.content-event-card p {
  padding-left: 12px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 900;
}

.content-event-card .card-team1 {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
}

.content-event-card .card-team2 {
  position: absolute;
  top: 42%;
  right: 35px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
}

.card-price {
  margin-top: 22px;
}

.card-price-button {
  margin-top: -3px;
  margin-left: 12px;
  background-color: white;
  border: 1px solid #d3d4d7;
  width: 135px;
  height: 28px;
  border-radius: 22px;
}

.card-price-button a {
  color: black;
}

.card-price-button span {
  margin-right: 22px;
  color: #a7a9b0;
}

#background4 {
  width: 100%;
  height: 400px;
  background-color: gray;
}

.background4-content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  /* background-color: white; */
}

.background4-content-product-card {
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
}

.background4-content-product-card .product-card1 {
  width: 427px;
  height: 249px;
  background: url("https://www.ms8opb.com/~/static/images/sportsbook/msports_VN.png")
    top center / cover no-repeat;
}

.background4-content-product-card .product-card2 {
  width: 427px;
  height: 249px;
  background: url("	https://www.ms8opb.com/~/static/images/sportsbook/saba_VN.png")
    top center / cover no-repeat;
}

.background4-content-product-card .product-card3 {
  width: 427px;
  height: 249px;
  background: url("https://www.ms8opb.com/~/static/images/sportsbook/pinnacle_VN.png")
    top center / cover no-repeat;
}

.product-card1:hover,
.product-card2:hover,
.product-card3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#background5 {
  width: 100%;
  height: 480px;
  background-color: #383e4d;
}

.background5-content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  /* background-color: white; */
}

.background5-content img:hover {
  transform: scale(1.1);
}

.background5-content p:nth-child(1) {
  padding-top: 40px;
  font-size: 22px;
  font-weight: 800;
}

.background5-content ul {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.background5-content ul li {
  text-align: center;
  padding: 24px 0;
}

.background5-content ul li p:nth-child(1) {
  font-size: 16px;
  margin-top: 22px;
  color: red;
}

#background6 {
  width: 100%;
  height: 280px;
  background-color: #222939;
}

.background6-content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
}

.background6-content-left {
  width: 80%;
  height: 100%;
  /* background-color: red; */
}

.background6-content-icon {
  height: 60px;
  display: flex;
}

.background6-content-icon img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.background6-content-icon p {
  margin-right: 40px;
  line-height: 60px;
  font-size: 16px;
}

.background6-content-icon p img {
  width: 100px;
}

.background6-content-introduce ul {
  display: flex;
  margin-top: 32px;
}

.background6-content-introduce ul li a {
  color: #90949c;
  text-decoration: underline;
  margin: 0 10px;
}

.background6-content-introduce ul li a:hover {
  color: white;
}

.background6-content-right {
  width: 20%;
  text-align: center;
}

.background6-content-right-icon {
  display: flex;
  justify-content: space-around;
}

.background6-content-right i {
  margin-top: 20px;
  font-size: 32px;
}

.background6-content-right i:hover {
  color: black;
}

.background6-content-right img {
  margin-top: 30px;
  width: 140px;
}
